body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

strong {
    font-weight: 600;
}


h1 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1>span {
    color: rgb(255, 255, 255);
    background-color: #ff4370;
    margin-top: 10px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    line-height: 50px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    line-height: 30px;
    text-transform: uppercase;
}

h3>span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #ff4370;
    line-height: 30px;
    text-transform: uppercase;
}



.arten {

    margin-top: 35px;
    margin-bottom: 30px;
}





.description {
    font-size: 30px;
    font-weight: 800;
    color: black;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.1;
}

img {
    max-width: 100%;
}



.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

::-moz-selection {
    background: #ff4370;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #ff4370;
    color: #fff;
    text-shadow: none;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: rgb(255, 255, 255);
}

.section-container-gray-bg {
    background-color: #2c292f;
    max-width: 100%;
    height: 100%;

    background-repeat: no-repeat;
}

.section-container-contact {

    display: block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    border-color: #fff;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
    font-size: 25px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 60px;
}


/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}


/***** Top menu *****/

.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 0);
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand {
    width: 200px;
    background: url(../img/lab.png) left no-repeat;
    border: 0;
    text-indent: -99999px;
}


/***** Top content *****/

.inner-bg {
    padding: 280px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    margin-top: 25px;
    color: #fff;
}

.top-content .description {
    margin: 30px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .backstretch {
    color: #444;
}

/***** Section 1 *****/

.section-2-box {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: left;
}



.section-2-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

.imgs {
    background: url(../img/backgrounds/1.jpg);
    color: #000;
}

/***** Section 2 *****/

.section-1-container {
    width: 100%;
    height: 100%;
}

.section-1-box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}

.section-1-box h3 {
    margin-top: 0;
}

.section-1-box-text .medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}


/***** Section 3 *****/

.section-3-box {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 60px;
}

.fa p {
    background-color: #203647;
    border-radius: 10px 20px;
    padding: 5px;

    margin: 5px;
    color: rgb(253, 253, 253);
    opacity: 0.5;
}

.section-3-container ul {
    padding-top: 30px;
    padding-bottom: 0px;
}

.section-3-container p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-3-container h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.section-4-container {
    display: block;
    max-height: 50%;
    overflow: hidden;
    padding: 0%;
}

.section-4-box {
    padding-top: 30px;
}

.section-4-container .backstretch {

    max-height: 100%;
    padding: 0px;
}

.section-team {
    padding: 10px;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}


.tab .nav-tabs {
    background-color: transparent;
    border: none;
}

.tab .nav-tabs .nav-item a {
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 12px 5px;
    margin: 0 0 1px 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs .nav-item a:last-child a {
    margin-right: 0;
}

.tab .nav-tabs .nav-item a:hover,
.tab .nav-tabs .nav-item.active a {
    color: #222;
    background: transparent;
    border: none;
}

.tab .nav-tabs .nav-item.active a {
    color: #fff;
}

.tab .nav-tabs .nav-item a:before {
    content: "";
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    transform: perspective(400px) rotateX(75deg);
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li.nav-item a.nav-link.active:before,
.tab .nav-tabs li.nav-item a.nav-link:hover:before {
    background: linear-gradient(#ff4370, #ff4370);
    border-radius: 5x 5px 0 0;
    transform: perspective(500px) rotateX(0);
}

.tab .tab-content {
    color: #fff;
    background: #333;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
}

.tab .tab-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs {
        background-color: #333;
        border-radius: 21px 21px 0 0;
    }

    .tab .nav-tabs li {
        width: 100%;
    }

    .tab .nav-tabs li a {
        color: #fff;
    }

    .tab .tab-content h3 {
        font-size: 18px;
    }
}


.section-2-box .card {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 1.3;
    background: linear-gradient(180deg, rgb(255, 67, 112) 60%, rgba(44, 41, 47, 1) 100%);

    transition: 0.3s;

}


.section-2-box .card-header {
    background-color: #2c292f;
    border: none;
    padding: 0px;

}

.section-2-box .card-body {
    padding-top:  20x;
    padding-left:0px;
    padding-right: 0%;
    margin: 0px;
font-weight: 600;
    color: #fff;

    min-height: 500px;

}

.section-2-box .card-title {
    padding-left: 15px;
    font-size: 35px;
}

.classWithPad { margin-right:10px; padding-right:10px; padding-left: 0%;}

.divide {background-color: #fff;
padding: 0%;
margin: 0%;
}

.varianten {border-radius: 20px;

border-style: solid;

}

.varianten .card {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    background: linear-gradient(180deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 100%);
    border-radius: 20px;
    transition: 0.3s;

}


.varianten .card-header {
    background-color: #ffffff;
    border: none;
    padding: 0px;

}

.varianten .card-body {
    padding: 0px;
    border-radius: 20px;
    margin-right: 15px;
    color: rgb(12, 12, 12);

}

.varianten .card-title {
    padding-left: 15px;
    font-size: 35px;
}

.varianten .tab .nav-tabs {
    background-color: transparent;
    border: none;
}

.varianten .tab .nav-tabs .nav-item a {
    color: rgb(0, 0, 0);
    background: transparent;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 12px 5px;
    margin: 0 0 1px 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.varianten .tab .nav-tabs .nav-item a:last-child a {
    margin-right: 0;
}

.varianten .tab .nav-tabs .nav-item a:hover,
.varianten .tab .nav-tabs .nav-item.active a {
    color: #222;
    background: transparent;
    border: none;
}

.varianten .tab .nav-tabs .nav-item.active a {
    color: #fff;
}

.varianten .tab .nav-tabs .nav-item a:before {
    content: "";
    background: rgb(187, 184, 184);
    height: 100%;
    width: 100%;
    transform: perspective(400px) rotateX(75deg);
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.varianten .tab .nav-tabs li.nav-item a.nav-link.active:before,
.varianten .tab .nav-tabs li.nav-item a.nav-link:hover:before {
    background: linear-gradient(#adaaab, #adaaab);
    border-radius: 5px 5px 0 0;
    transform: perspective(500px) rotateX(0);
}

.varianten .tab .tab-content {
    color: #fff;
    background: #333;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
}

.varianten .tab .tab-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

.card img {
    opacity: 0.4;
    padding: 0px;
    margin: -1px;
    width: 100%;
    height: auto;

    border-radius: 0px;

}

.table {
    border-style: none;
    text-align: left;
}

tr {
    line-height: 8px;
    min-height: 20px;
    height: 20px;
}


.pricing-card {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 30px;
    min-width: 0;
    height: auto;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-style: solid;
    border-radius: 10px 20px;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    perspective: 1000px;

}

.price-card-body {
    padding: 0px;
}


.form-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.form-top-left p {
    opacity: 0.8;
    color: #fff;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.form-bottom p {
    opacity: 0.8;
    color: #fff;
}

input[type="text"],
textarea,
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #888;
}



button.contact-btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.contact-btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.contact-btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.contact-btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

button.contact-btn:active:focus,
button.contact-btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}


.container-addresse .form-box {
    background-color: #2c292f;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

/***** Footer *****/

.icon-banijay {
    height: 33px;
    width: 105px;
    background-image: url('../ico/banijay.png');
    background-position: 0 -335px;
    background-repeat: no-repeat;
}

footer {
    display: block;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.pricingTable {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.pricingTable .pricing_heading:after {
    content: "";
    width: 40px;
    height: 49.5%;
    background: #EF476F;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 2;
    transform: skewY(45deg) translateY(18px);
    transition: all 0.4s ease 0s;
}

.pricingTable .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    background: #EF476F;
    padding: 15px 0 0;
    margin: 0 35px 0 0;
    transition: all 0.4s ease 0s;
}

.pricingTable .value {
    display: block;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    background: #EF476F;
    padding: 5px 0 10px;
    margin: 0 35px 0 0;
    transition: all 0.4s ease 0s;
}

.pricingTable:hover .title,
.pricingTable:hover .value {
    color: #fff;
}

.pricingTable .month {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.pricingTable .content {
    border-left: 1px solid #f2f2f2;
    position: relative;
}

.pricingTable .content:after {
    content: "";
    width: 35px;
    height: 100%;
    background: #f8f8f8;
    box-shadow: 9px 9px 20px #ddd;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: skewY(-45deg) translateY(-18px);
    transition: all 0.4s ease 0s;
}

.pricingTable .content ul {
    padding: 0;
    margin: 0 35px 0 0;
    list-style: none;
    background: #fff;
}

.pricingTable .content ul li {
    display: block;
    font-size: 15px;
    color: #333;
    line-height: 23px;
    padding: 11px 0;
    border-bottom: 1px solid #f2f2f2;
}

.pricingTable .link {
    background: #fff;
    padding: 20px 0;
    margin-right: 35px;
    border-bottom: 1px solid #f2f2f2;
}

.pricingTable .link a {
    display: inline-block;
    padding: 9px 20px;
    font-weight: 700;
    color: #EF476F;
    text-transform: uppercase;
    border: 1px solid #EF476F;
    background: #fff;
    transition: all 0.4s ease 0s;
}

.pricingTable:hover .link a {
    color: #fff;
    background: #06D6A0;
    border: 1px solid #06D6A0;
}

.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value {
    background: #06D6A0;
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 35px;
    }
}

.serviceBox{
    color: rgb(211, 211, 211);
   
    text-align: center;
    padding: 25px 25px 55px;
    position: relative;
    z-index: 1;
}

.serviceBox:before{box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.serviceBox:before,
.serviceBox:after{
    content: '';
    background: #ff4370;
  
    opacity: 0.9;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    right: 0;
    top: 15px;
    bottom: 0;
    z-index: -1;
}


.serviceBox:after{
   
    background-image: url(/assets/img/backgrounds/hygiene3.jpg);
    opacity: 1;
    left: 0;
    right: 10px;
    top: 0;
    bottom: 15px;
    clip-path: polygon(30% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 20%);
}
.serviceBox .service-icon{
    color: #ffffff;
    font-size: 35px;
    text-shadow: 4px 4px rgba(0,0,0,0.1);
    margin: 0 0 10px;
}
.serviceBox .title{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.serviceBox .title span{ font-weight: 700; }
.serviceBox .description{
    color: rgb(255, 255, 255);
   

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
}
.serviceBox .read-more{
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    right: 15px;
    bottom: 9px;
    transition: all 0.3s ease 0s;
}
.serviceBox .read-more:hover{
    color: rgba(255,255,255,0.7);
    text-shadow: 3px 3px rgba(255,255,255,0.1);
}
.serviceBox.darkgreen:before{ background: linear-gradient(#00A28D, #007385); }
.serviceBox.darkgreen .service-icon,
.serviceBox.darkgreen .title{
    color: #007385;
}
.serviceBox.blue:before{ background: linear-gradient(#00BFE9, #0170DC); }
.serviceBox.blue .service-icon,
.serviceBox.blue .title{
    color: #0170DC;
}
.serviceBox.green:before{ background: linear-gradient(#93c916, #3AB447); }
.serviceBox.green .service-icon,
.serviceBox.green .title {
    color: #3AB447;
}
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 30px; }
}